{% extends 'layout/_layout.html' %}

{% block css %} {% endblock %}

{% block content %}
    <form class="layui-form" action="{% url 'web:add_app' %}" method="post">
        {% csrf_token %}
        <div class="layui-form-item">
            <label class="layui-form-label">应用名</label>
            <div class="layui-input-block">
                <input type="text" name="name" required  lay-verify="required" placeholder="请输入应用名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">发布命令</label>
            <div class="layui-input-block">
                <input type="text" name="cmd" required  lay-verify="required" placeholder="请输入发布命令" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

{% endblock %}

{% block js %}
    <script>
        //Demo
        layui.use('form', function(){
            var form = layui.form;

            //监听提交
            /*
            form.on('submit(formDemo)', function(data){
                layer.msg(JSON.stringify(data.field));
                {#return false;#}
            });
            */
        });
    </script>
{% endblock %}